{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Colorful Flat Website Template | Home :: w3layouts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/fave-icon.png" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		</script>
   		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" media="all" />
   		<link href="{{ STATIC_URL }}css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<script src="{{ STATIC_URL }}js/modernizr.custom.28468.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/simptip-mini.css" media="screen,projection" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</head>
	<body>
		<!---start-wrap----->
			<!---start-header----->
			<div class="header" id="home">
				<div class="wrap">
				<div class="top-header">
					<div class="logo">
						<a href="index.html">محاسبان طلوع</a>
					</div>
					<div class="top-nav">
						<ul>
							<li class="active"><a href="#home" class="scroll">صفحه اصلی</a></li>
							<li><a href="#teaminf" class="scroll">معرفی</a></li>
							<li><a href="http://www.mohasebantoloo.blogfa.com/">بلاگ</a></li>
							<li><a href="#emp" class="scroll">استخدام</a></li>
							<li><a href="#contact" class="scroll">تماس</a></li>
						</ul>
					</div>
					<div class="clear"> </div>
				</div>
			<!---End-header----->
			<!----start-content-slider---->
			<div id="da-slider" class="da-slider">
					  <div id="intro" class="da-slide">
					    <div class="da-title">
					      <h3>آدرس: 
					      	تهران میدان ولیعصر خیابان دمشق خیابان <br />
					      	صبا شمالی پلاک 148
					      	 </h3>
					    </div>
					    <div class="da-img">
					      <img src="{{ STATIC_URL }}images/Accounting1.jpg" alt="Drupal Powered" title="Presenting the Drupalien" />
					    </div>
					  </div>
					  <div id="user-experience" class="da-slide">
					   <div class="da-title">
					   <h3> صورت های مالی تلفیقی،<br />
					      ،راه اندازی و پشتیبانی سیستم های مالی.</h3>
					    </div>
					     <div class="da-img">
					      <img src="{{ STATIC_URL }}images/coin2.jpg" alt="Drupal Powered" title="Presenting the Drupalien" />
					    </div>
					  </div>
					  <div id="design" class="da-slide">
					   <div class="da-title">
					    <h3>اصلاح حساب،تهیه اظهارنامه مالیاتی <br />
					      	 مشاوره مالیاتی و مالی ،انجام و تهیه!</h3>
					    </div>
					     <div class="da-img">
					      <img src="{{ STATIC_URL }}images/rsz_accounting.jpg" alt="Drupal Powered" title="Presenting the Drupalien" />
					    </div>
					  </div>
					  <div>
					  </div>
					</div>
					<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
					<script src="{{ STATIC_URL }}js/jquery.cslider.js"></script>
					<script>
					//jQuery(document).ready(function() {
					$('#da-slider').cslider({
					  autoplay : true,
					  interval: 3000,
					  bgincrement : 10
					});
					//});
					</script>
		<!----start-content-slider---->
			</div>
		</div>
		<!---End-header----->
		<!---start-content---->
		<div class="content">
			<div class="wrap">
			<!---start-top-grids---->
				<div class="top-service-grids" id="services">
					<div class="top-service-grid">
						<a href="#"><img src="{{ STATIC_URL }}images/Accounting.gif" alt="" /></a>
						<a href="#"><span>کار گروهی</span></a>
						<p>تجارب شرکتهای موفق نشان می دهد که احتمال رسیدن به اهداف از طریق " کار گروهی " ، بیشتر است. البته در همه شرایط و در هر کاری امکان تعریف کار گروهی و انجام آن وجود ندارد؛ به خصوص که فرهنگ کاری مرسوم در کشور ما خیلی با کار گروهی همخوانی ندارد. به همین خاطر چگونگی استفاده از کارگروهی، به شرایط شرکت و تشخیص شما به عنوان مدیر آن بستگی دارد. در واقع گروه یعنی جمع 2 نفر یا بیشتر که در روابطی متقابل هدف خاصی را دنبال می کنند. آنچه در این میان اهمیت دارد، پیوستگی، تمایل به همکاری و بهبود سرنوشت مشترک است. </p>
					</div>
					<div class="top-service-grid">
						<a href="#"><img src="{{ STATIC_URL }}images/top-grid-pic2.png" alt="" /></a>
						<a href="#"><span>ایده های بزرگ</span></a>
						<p>خلاقيت باعث بروز افکار بزرگ در انسان ميشود. اما معمولا
سـخت ترين مرحله نــقطه شروع است. افکار بزرگ ما را به
سمت پيشرفت راهنمايي کرده و فردايي روشن را برايمــان
به ارمغان مي آورند. با به کارگيري اصولي که دراين قسمت
براي شما شرح مي دهيم مي تـوانـيـد يـک تـجارت بزرگ و
بي نقص راه اندازيد. ما متاسفانه ذهن خود را به انجام اين
امور عادت نداده ايم. اين امر سبب ميشود تـا توانايي خـود
را بـراي دامـن دادن بـه تـصورات و تخيلات از دست داده و در
نـتـيـجه قـدرت تـخـيـل خـود را به کار نگيريم. به همين دليل
فرصتهاي بي شماري را به آساني از دست مي دهيم.
ايـده هاي بـزرگ از مـحـلي فـــراي باورهاي شخصي نشات
مي گـيـرند. بـايد بـه دوردسـت هــا بنگريد و افکار متفاوت را
آزمايش کنيد تا به نتيجه مطلوب دست پيدا کنيد.</p>
					</div>
					<div class="top-service-grid">
						<a href="#"><img src="{{ STATIC_URL }}images/top-grid-pic4.png" alt="" /></a>
						<a href="#"><span>قدرت تحلیل بالا</span></a>
						<p>ذهن شما همانند بدنتان براي اينکه رشد پيدا کرده و پرورش يابد نيازمند تمرين و تحرک است، و چه تمريني بهتر از کتاب خواندن. سعي کنيد با افکار و عقايد انسان هاي موفق در طول تاريخ آشنا شويد. شرح حال و تاريخچه زندگي هر يک از آنها را مرور کنيد و از آن درس بگيريد. با مطالعه اين کتب مي توان حدس زد که چگونه اين افراد بزرگ ذهن خود را براي رسيدن به بهترين ها پرورش داده بودند. همچنين مي توانيد مجلاتي نظير تجارت و يا اقتصاد روز را نيز مطالعه کنيد. با آگاهي از نظرات ديگران پيرامون مسايل مختلف شما سطحي نگري را کنار مي گذاريد و با يک ديد عمقي به موضوعات مختلف مي نگريد.</p>
					</div>
					<div class="clear"> </div>
				</div>
			<!---End-top-grids---->
			</div>
			<!---start-meet-our-team---->
			<div class="team" id="teaminf">
				<div class="wrap">
					<p dir=rtl>این موسسه بنا دارد با کادری از اساتید مجرب و مدیران مالی باسابقه که همگی سابقه بالای ده سال در مدیریت مالی و حسابرسی را دارند علاوه بر آموزش،در زمینه های ارائه خدمات مالی و حسابداری پیشگام باشد.خدمات این موسسه عبارتند از :</p>
						
<p dir=rtl >حسابداری مالی،انجام کلیه امور مالیاتی،مشاوره مالیاتی و مالی ،انجام و تهیه صورت های مالی تلفیقی،اصلاح حساب،تهیه اظهارنامه مالیاتی را اندازی و پشتیبانی سیستم های مالی</p>

						
					<hr>
					<div class="team-head">
						<h3>اعضای تیم ما</h3>
	
					</div>
					<div class="team-members">
						<div class="team-member">
							<span><a href="#"> </a></span>
							<h4><a href="#"> مهدی تبریزی</a></h4>
						   <label>Mehdi Tabrizi</label>
							<p> عضو هیئت علمی دانشگاه،عضو انجمن حسابداران خبره ،کارشناس رسمی دادگستری ،عضو هیئت مدیره چند شرکت،با بیش از 16 سال سابقه کار در بنگاه ها و شرکت های بزرگ اقتصادی.</p>
							<ul>
								<li>
									<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
									<li><a class="twitter simptip-position-bottom simptip-movable" data-tooltip="Twitter" href="#"> </a></li>
									<li><a class="pin simptip-position-bottom simptip-movable" data-tooltip="Pintrest" href="#"> </a></li>
									<div class="clear"> </div>
								</li>
							</ul>
						</div>
						<div class="team-member"> 
							<span><a href="#"> </a></span>
							<h4><a href="#">احمد کاوه</a></h4>
						   <label>Ahad Kaveh</label>
							<p> کارشناس ارشد علوم بانکی ،کارشناس بانکداری داخلی و بین المللی دارای بیش از 30 سال تجربه بانکی در حوزه فعالیت های بانکی، داخلی و برون مرزی ،مشاوره در انواع سپرده گذاری ها، اخذ تسهیلات و اعتبار بانکی و بانکداری بین المللی.</p>
							<ul>
								<li>
									<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
									<li><a class="twitter simptip-position-bottom simptip-movable" data-tooltip="Twitter" href="#"> </a></li>
									<li><a class="pin simptip-position-bottom simptip-movable" data-tooltip="Pintrest" href="#"> </a></li>
									<div class="clear"> </div>
								</li>
							</ul>
						</div>
												<div class="team-member"> 
							<span><a href="#"> </a></span>
							<h4><a href="#">مهدی حمزه‌لو</a></h4>
						   <label>Mehdi Hamzehlou</label>
							<p> کارشناس ارشد مدیریت  اجرایی ،کارشناس مدیریت بازرگانی ،کارشناس برنامه‌ریزی ،کارشناس  فناوری اطلاعات بیش از 18سال تجربه در زمینه های تدوین آیین نامه ها ،احکام کارگزینی ،مدیریت اداری ،برنامه ریزی در شرکت های بزرگ،بنیاد تعاون و بانک شهر</p>
							<ul>
								<li>
									<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
									<li><a class="twitter simptip-position-bottom simptip-movable" data-tooltip="Twitter" href="#"> </a></li>
									<li><a class="pin simptip-position-bottom simptip-movable" data-tooltip="Pintrest" href="#"> </a></li>
									<div class="clear"> </div>
								</li>
							</ul>
						</div>
						<div class="team-member">
							<span><a href="#"> </a></span>
							<h4><a href="#">علی عمرایی</a></h4>
						   <label>Ali Amraee</label>
							<p> دوازده سال سابقه کار در شرکت های بزرگ ،متخصص در برنامه های حسابداری ،متخصص در امور مالی و حسابداری ،متخصص در ثبت  حسابداری تجمیعی و تلفیقی،آشنایی کامل با صدور مکانیزه اسناد  در انبار ،اموال ،حقوق دستمزد،حسابداری،حسابداری تجمیعی .</p>
							<ul>
								<li>
									<li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
									<li><a class="twitter simptip-position-bottom simptip-movable" data-tooltip="Twitter" href="#"> </a></li>
									<li><a class="pin simptip-position-bottom simptip-movable" data-tooltip="Pintrest" href="#"> </a></li>
									<div class="clear"> </div>
								</li>
							</ul>
						</div>
						<div class="clear"> </div>
						<div class="clear"> </div>
					</div>
				</div>
			</div>
			<!---//End-meet-our-team---->
			
			<!---start-contact---->
			<div class="contact" id="contact">
				<div class="wrap">
				<div class="contact-head">
					<h3>تماس با ما</h3>
					<p>شما میتوانید از طریق فرم زیر با ما ارتباط برقرار کنید.</p>	
				</div>
				<div class="contatct-form">
					<form action="" method="post">
						{% csrf_token %}
						{{ form }}
						<input type="submit" value="ارسال"></input>
					</form>
				</div>
			</div>
			</div>
			<!---End-contact---->
		</div>
		<!---End-content---->
		<!---start-emp---->
		<hr>
			<div class="contact" id="contact">
				<div class="wrap">
				<div class="contact-head">
					<h3>درخواست استخدام</h3>
					<p></p>	
				</div>
				<div class="contatct-form">
					<form action="" method="post">
						<script type="text/javascript">
function ValidateForm(frm) {
if (frm.First_Name.value == "") { alert('First name is required.'); frm.First_Name.focus(); return false; }
if (frm.Last_Name.value == "") { alert('Last name is required.'); frm.Last_Name.focus(); return false; }
if (frm.Email_Address.value == "") { alert('Email address is required.'); frm.Email_Address.focus(); return false; }
if (frm.Email_Address.value.indexOf("@") < 1 || frm.Email_Address.value.indexOf(".") < 1) { alert('Please enter a valid email address.'); frm.Email_Address.focus(); return false; }
if (frm.Position.value == "") { alert('Position is required.'); frm.Position.focus(); return false; }
if (frm.Phone.value == "") { alert('Phone is required.'); frm.Phone.focus(); return false; }
return true; }
</script>
						{% csrf_token %}
						{{ form_emp }}
						<input type="submit" value="ارسال"></input>
					</form>
				</div>
			</div>
			</div>
		<!---End-emp---->
		<!----start-footer---->
		<div class="footer">
			<div class="wrap">
				<div class="footer-grids">
					<div class="footer-left">
						<ul>
							<li><a class="ftwiter" href="#"> </a></li>
							<li><a class="fface" href="#"> </a></li>
							<li><a class="fhtml" href="#"> </a></li>
							<li><a class="fflick" href="#"> </a></li>
							<div class="clear"> </div>
						</ul>
					</div>
					<div class="footer-right">
						<p>Desing By : <a href="http://stackoverflow.com/users/2867928/kasra">Kasra</a></p>
									<script type="text/javascript">
						$(document).ready(function() {
							$().UItoTop({ easingType: 'easeOutQuart' });
						});
					</script>
					<!----move-top-path---->
					<script type="text/javascript" src="{{ STATIC_URL }}js/move-top.js"></script>
					<script type="text/javascript" src="{{ STATIC_URL }}js/easing.js"></script>
					<script type="text/javascript">
						jQuery(document).ready(function($) {
							$(".scroll").click(function(event){		
								event.preventDefault();
								$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
							});
						});
					</script>
					<!----move-top-path---->
			    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>

					</div>
					<div class="clear"> </div>
				</div>
			</div>
		</div>
		<!----//End-footer---->
		<!---End-wrap----->
	</body>
</html>

